# binaries and C-files
*.bin
*.elf
*.map
*.o
*.exe

# initramfs
initramfs_root/bin
initramfs_root/dev
initramfs_root/etc
initramfs_root/linuxrc
initramfs_root/proc
initramfs_root/sbin
initramfs_root/sys

# compiled software
software/x32ctrl/build
software/bin

# Xilinx ISE 14.7
fpga/_ngo/
fpga/_xmsgs/
fpga/iseconfig/
fpga/xlnx_auto_0_xdb/
fpga/xst/

*.gise
par_usage_statistics.html
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xaw2verilog.log
_impactbatch.log
impact.xsl
impact_impact.xwbt
ise_impact.cmd
webtalk_impact.xml
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.ll
*.lso
*.msd
*.msk
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.rbb
*.rbd
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*_bitgen.xwbt
*_envsettings.html
*_map.map
*_map.mrp
*_map.ngm
*_map.xrpt
*_ngdbuild.xrpt
*_pad.csv
*_pad.txt
*_par.xrpt
*_summary.html
*_summary.xml
*_usage.xml
*_xst.xrpt
.vscode/settings.json
*.debug
planAhead*
*.schlog
