[submodule "pyatk"]
	path = pyatk
	url = https://github.com/hbock/pyatk
	ignore = dirty
[submodule "busybox"]
	path = busybox
	url = https://git.busybox.net/busybox
	ignore = dirty
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux
	ignore = dirty
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/u-boot/u-boot
	ignore = dirty
